html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.portfolio {
  height: 100vh;
  background: -webkit-linear-gradient(345deg, white 0, white 50%, #001974 50%, #001974 100%);
  background: -o-linear-gradient(345deg, white 0, white 50%, #001974 50%, #001974 100%);
  background: linear-gradient(105deg, white 0, white 50%, #001974 50%, #001974 100%); }
  .portfolio::before, .portfolio::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0; }
  .portfolio::before {
    right: 0;
    background: -webkit-radial-gradient(100% 100%, circle, #fa4ef5 0%, transparent 60%);
    background: -o-radial-gradient(100% 100%, circle, #fa4ef5 0%, transparent 60%);
    background: radial-gradient(circle at 100% 100%, #fa4ef5 0%, transparent 60%);
    z-index: 1; }
  .portfolio::after {
    left: 0;
    background: -webkit-radial-gradient(50% 100%, circle, #279df6 0%, transparent 80%);
    background: -o-radial-gradient(50% 100%, circle, #279df6 0%, transparent 80%);
    background: radial-gradient(circle at 50% 100%, #279df6 0%, transparent 80%);
    z-index: 2; }
  .portfolio__lines {
    background: url("../img/lines.png") no-repeat;
    background-position: 90% 75%;
    -webkit-background-size: auto 60%;
            background-size: auto 60%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    margin-left: auto;
    height: 100vh;
    width: 100vw; }
  .portfolio__main {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 65%;
    height: 65%;
    z-index: 4;
    background: url("../img/circle.png") no-repeat;
    -webkit-background-size: auto 100%;
            background-size: auto 100%;
    background-position: 50%; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(3600deg);
            transform: translate(-50%, -50%) rotate(3600deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(3600deg);
            transform: translate(-50%, -50%) rotate(3600deg); } }
