main {
  position: relative;
}
.green {
  width: 400px;
  height: 400px;
  background: #c4df9a;
  margin: 0 auto;
}
.orange {
  width: 100px;
  height: 100px;
  background: #f7941d;
  position: absolute;
}
.lt {
  left: 0;
  top: 0;
}
.rt {
  right: 0;
  top: 0;
}
.lb {
  left: 0;
  bottom: 0;
}
.rb {
  right: 0;
  bottom: 0;
}

h2 {
	text-align: center;
	font: 25px bold Arial;
}


