header, aside, main, footer {
  border: 1px solid black;
}
header, footer {
  min-height: 100px;
}
main, aside {
  margin: 5px 0;
}
aside, main {
  height: 500px;
}
aside {
  width: 25%;
  float: left;
}
main {
  width: 74%;
  float: right;
}
footer {
  clear: both;
}

h2 {
	text-align: center;
	font: 25px bold Arial;
}
