header, #logo, nav, aside, main, .square, footer {
  border: 1px solid black;
}
header, footer {
  min-height: 100px;
}
#logo {
  height: 90px;
  margin: 5px;
  width: 20%;
  float: left;
}
nav {
  height: 90px;
  margin: 5px;
  width: 50%;
  float: right;
}
.clear {
  clear: both;
}
main, aside {
  margin: 5px 0;
}
aside, main {
  height: 1300px;
}
aside {
  width: 25%;
  float: left;
}
main {
  width: 990px;
  float: right;
}
.square { 
  height: 300px;
  width: 300px;
  float: left;
  margin-left: 21.5px;
  margin-top: 25px;
}
footer {
  clear: both;
}

h2 {
	text-align: center;
	font: 25px bold Arial;
}
