header, #logo, header nav, aside, main, .square, footer {
  border: 1px solid black;
}
header, footer {
  min-height: 100px;
}
#logo {
  height: 90px;
  margin: 5px;
  width: 20%;
  float: left;
}
header nav {
  height: 90px;
  margin: 5px;
  width: 50%;
  float: right;
}
.clear {
  clear: both;
}
main, aside {
  margin: 5px 0;
}
aside, main {
  height: 1300px;
}
aside {
  width: 25%;
  float: left;
}
main {
  width: 990px;
  float: right;
}
.square { 
  height: 300px;
  width: 300px;
  float: left;
  margin-left: 21.5px;
  margin-top: 25px;
}
footer {
  clear: both;
}


/* Further part doesn't apply this task*/
ul {
	text-align: center;
	list-style-type: none;
}
li {
	display: inline-block;
	padding: 10px;
	border: solid 1px;
}
a {
	text-decoration: none;
	color: black;
	font: italic 25px Arial;
}
li:hover {
	background: rgba(100,100,100,0.2);
	cursor: pointer;
}