main {
  position: relative;
}
.green {
  width: 400px;
  height: 400px;
  background: #c4df9a;
  margin: 0 auto;
}
.orange {
  width: 100px;
  height: 100px;
  background: #f7941d;
  position: absolute;
}
.lt {
  left: 0;
  top: 0;
}
.rt {
  right: 0;
  top: 0;
}
.lb {
  left: 0;
  bottom: 0;
}
.rb {
  right: 0;
  bottom: 0;
}

h2 {
	text-align: center;
	font: 25px bold Arial;
}


/* Further part doesn't apply this task*/
ul {
	text-align: center;
	list-style-type: none;
}
li {
	display: inline-block;
	padding: 10px;
	border: solid 1px;
}
a {
	text-decoration: none;
	color: black;
	font: italic 25px Arial;
}
li:hover {
	background: rgba(100,100,100,0.2);
	cursor: pointer;
}